@charset "utf-8";
#wforder {
    width: 950px;
    height: 500px;
    background-color: #fff ;
    margin: 0 auto;
}

.wfwarp {
    width: auto;
    height: 100%;
    border:5px solid #0c0;
}

.wforderl {
    float: left;
    display: inline;
    overflow: hidden;
    width: 65%;
    height: 100%;
}

.wforderr {
    float: left;
    display: inline;
    overflow: hidden;
    width: 35%;
    height: 100%;
}

.wfforml,.wfformr {
    width: 100%;
}

.wfrxian {
    margin-left: -25px;
    width: auto;
    height: auto;
    overflow: hidden;
    _height: 100%;
}

.wftitlea,.wftitleb {
    height: 60px;
    margin-bottom: 15px;
    background: url(titab.gif) no-repeat;
}

.wftitlea {
    background-position: 0 0;
}

.wftitleb {
    background-position: 0 -60px;
}

.wfwarp label.wfbdxx {
    float: left;
    display: inline;
    overflow: hidden;
    width: 19%;
    _width: 18%;
    text-align: right;
    padding-top: 3px;
    padding-right: 3%;
}

.wfdxbox,.wfxlbox,.wftextbox,.wftext2box,.wftext3box,.wfpayps {
    float: left;
    display: inline;
    overflow: hidden;
    width: 78%;
    _width: 77%;
}

.wfdxbox,.wftext2box,.wftext3box {
    line-height: 1.5em;
}

.wftextbox input,.wfxlbox select.wfcpxl,.wfxlbox select.wfdqxl,.wftext2box textarea,.wftext3box input {
    border: 1px solid #E0E0E0;
    background: #FCFCFC;
}

.wfdxbox p {
    width: 92%;
    line-height: 1.6em;
    margin-bottom: 3px;
}

.wfdxbox p img {
    margin-left: 6px;
    margin-top: -5px;
}

.wfbdbox {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    *margin-bottom: 7px;
}

.wfdxbox label {
    margin-left: 6px;
    cursor: pointer;
}

.wfdxbox input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 1px;
}

.wftextbox input,.wftext3box input {
    width: 92%;
    font-size: 14px;
    color: #666;
    padding: 3px 5px;
    _padding: 2px 5px;
}

.wftext3box #showmun,.wftext3box #showprice {
    clear: both;
    display: inline;
    font-family: Arial,Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #F60;
    margin: 0 5px;
}

.wfxlbox select.wfcpxl {
    padding: 3px;
}

.wfxlbox select.wfdqxl {
    width: 30.70%;
    color: #666;
    margin-right: 6px;
    padding: 2px;
}

.wfpayps {
    font-size: 12px;
    color: #666;
    padding-left: 22%;
    line-height: 1.6em;
}

.wfpayps p {
    display: block;
    float: left;
    width: 92%;
    padding: 2px 5px;
    _margin-left: -3px;
    text-align: center;
    border: 1px dotted #E0E0E0;
    background: #FFFFE6;
}

.wftext2box textarea {
    width: 92%;
    height: 40px;
    color: #666;
    padding: 5px;
}

.wftext3box input {
    width: 50px;
    text-align: center;
    margin-right: 8px;
}

.wftext3box img#wfcode {
    margin-top: -3px;
    cursor: pointer;
}

.wftext3box a {
    font-size: 12px;
    margin-left: 6px;
}

.wfsubbox {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 10px;
}

.wfsubbox input {
    width: 50%;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    border: 0;
}

#wffahuo {
    width: 90%;
    font-size: 12px;
    line-height: 1.8em;
    color: #666;
    padding: 0 5%;
}

#wffahuo p {
    padding-bottom: 15px;
    border-bottom: 1px dotted #CCC;
}